<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h1>Users</h1>

<h2>Add new user</h2>

<form th:action="@{/users/add}" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="surname" placeholder="Surname">
    <input type="number" name="age" placeholder="Age">
    <input type="text" name="email" placeholder="Email">
    <input type="submit" value="Add User">
</form>

<br/>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:utext="${user.name}"></td>
        <td th:utext="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td th:utext="${user.email}"></td>

        <td>
            <form th:action="@{/users/edit}" method="get">
                <input type="hidden" name="id" th:value="${user.id}">
                <input type="submit" value="Edit">
            </form>
        </td>

        <td>
            <form th:action="@{/users/delete}" method="post">
                <input type="hidden" name="id" th:value="${user.id}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>

</body>
</html>